<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/WpfWcfNamedPipeBinding/NamedPipeBindingService"
                binding="netNamedPipeBinding"
                contract="WcfServiceLibraryNamedPipe.INamedPipeBindingService"
                name="NamedPipeBindingServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>